{% extends 'base.html' %}

{% block title %}
Registration
{% endblock %}

{% block body %}
<body>
<div class="container col-sm-8 col-lg-4 text-center">
    <form class="form-register" method="post">
        <h1 class="rate">
            Registration
        </h1>
        {{ form.hidden_tag() }}
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", placeholder="Name") }}

        {{ form.email_address.label(class="form-label") }}
        {{ form.email_address(class="form-control", placeholder="Email") }}

        {{ form.password1.label(class="form-label") }}
        {{ form.password1(class="form-control", placeholder="Password") }}

        {{ form.password2.label(class="form-label") }}
        {{ form.password2(class="form-control", placeholder="Confirm password") }}
        <br/>
        <a href="{{ url_for('login_page') }}" class="rate"><h6>Already have an account?</h6></a>
        <br/>
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
</div>
</body>
{% endblock %}